@import "../../../styles/config";

.wrapper {
	width: 100%;

	margin: 0 auto;

	header {
		display: grid;
		grid-template-columns: 15rem auto;

		width: 100%;
		height: 10.5rem;

		margin: 0 auto;
		padding: 3rem;

		.logo {
			justify-self: start;

			cursor: pointer;

			img {
				height: 4.5rem;
			}
		}

		.search-box {
			justify-self: center;

			display: grid;
			grid-template-columns: auto 1fr auto;
			align-items: center;
			justify-content: center;

			width: 80rem;
			height: 4.5rem;

			margin-left: -20rem;
			padding: 1rem 2.5rem;

			border-radius: 3rem;
			font-size: 2.1rem;

			fa-icon:nth-child(1) {
				cursor: pointer;
			}

			input {
				width: 90%;
				height: 100%;

				margin: 0 2rem;

				border: none;

				font-size: 2.1rem;
			}
		}
	}

	.scroll {
		background: $color_white;

		position: absolute;

		top: 4rem;
		bottom: 0;

		z-index: 2;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 10rem;
		height: 80%;

		font-size: 2.1rem;

		cursor: pointer;

		&.hide {
			display: none;
		}

		&-left {
			left: 0;
		}

		&-right {
			right: 0;
		}
	}

	.artists-wrapper {
		position: relative;

		.artists-title {
			position: absolute;

			left: 4rem;
			top: 4rem;

			z-index: 3;

			font-size: 2.1rem;
		}

		.artists-container {
			position: relative;

			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: baseline;

			padding: 3rem 10rem;

			overflow: scroll;

			cursor: grab;

			scroll-behavior: smooth;

			&::-webkit-scrollbar {
				width: 0 !important;
			}

			.card {
				flex-shrink: 0;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				width: 30rem;
				height: 18rem;

				margin: 4.5rem 3rem 0 0;

				&:nth-last-child(1) {
					margin-right: 10rem;
				}

				img {
					width: 13.5rem;
					height: 13.5rem;

					border-radius: 100%;
				}

				span {
					margin-top: 2rem;

					font-size: 1.8rem;
					font-weight: 500;

					text-align: center;
				}
			}
		}
	}

	.musics-wrapper {
		position: relative;

		.musics-title {
			position: absolute;

			left: 4rem;
			top: 4rem;

			z-index: 3;

			font-size: 2.1rem;
		}

		.scroll {
			height: 90%;
		}

		.musics-container {
			position: relative;

			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: baseline;

			height: 80rem;

			padding: 6rem 10rem 3rem;

			overflow-x: scroll;

			cursor: grab;

			&::-webkit-scrollbar {
				width: 0 !important;
			}

			.card {
				flex: 0 0 auto;

				position: relative;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				width: 30rem;
				height: 30rem;

				margin: 3rem 3rem 0 0;

				div.overlay {
					background: linear-gradient(0deg, $color_gray_10, $shade_gray_50, $color_gray_10);

					display: none;

					&.active {
						color: $color_white;

						display: block;

						position: absolute;

						width: 100%;
						height: 100%;

						padding: 2rem;

						border-radius: 3rem;

						overflow: hidden;

						cursor: pointer;

						p {
							display: block;
							text-align: center;
						}

						.title {
							position: absolute;

							left: 0;
							top: 2rem;

							width: 100%;
							height: 40%;

							margin: 0 auto;

							font-size: 7ch;

							text-transform: uppercase;

							animation: enter-from-top 0.5s;
							transition: all 0.5s ease-in-out;
						}

						.description {
							position: absolute;

							left: 0;
							bottom: 2rem;

							display: flex;
							flex-direction: column;
							justify-content: flex-end;

							width: 100%;

							margin: 0 auto;

							animation: enter-from-bottom 0.5s;
							transition: all 0.5s ease-in-out;

							.release-date {
								font-size: 1.4rem;
								// font-weight: 300;
							}

							.artist {
								font-size: 6.5ch;
								font-weight: 300;
							}
						}

						@keyframes enter-from-top {
							0% {
								top: -10rem;
							}

							100% {
								top: 2rem;
							}
						}

						@keyframes enter-from-bottom {
							0% {
								bottom: -10rem;
							}

							100% {
								bottom: 2rem;
							}
						}
					}
				}

				img {
					width: 100%;
					height: 100%;

					border-radius: 3rem;
				}

				span {
					margin-top: 2rem;

					font-size: 1.8rem;
					font-weight: 500;

					text-align: center;
				}
			}
		}
	}
}
