@import "../../../styles/config";

:host {
	width: 100%;

	margin: 0 auto;

	header {
		display: grid;
		grid-template-columns: 15rem auto;

		width: 100%;
		height: 10.5rem;

		margin: 0 auto;
		padding: 3rem;

		.logo {
			justify-self: start;

			cursor: pointer;

			img {
				height: 4.5rem;
			}
		}

		.search-box {
			justify-self: center;

			display: grid;
			grid-template-columns: auto 1fr auto;
			align-items: center;
			justify-content: center;

			width: 80rem;
			height: 4.5rem;

			margin-left: -20rem;
			padding: 1rem 2.5rem;

			border-radius: 3rem;
			font-size: 2.1rem;

			fa-icon:nth-child(1) {
				cursor: pointer;
			}

			input {
				width: 90%;
				height: 100%;

				margin: 0 2rem;

				border: none;

				font-size: 2.1rem;
			}
		}
	}

	main {

		width: 100%;

		.description,
		.lyrics {
			display: grid;
			grid-template-areas: "left middle right";
			grid-template-columns: 4fr 5fr 1fr;

			.left,
			.middle,
			.right {
				padding: 3rem;
			}

			.left {
				grid-area: left;

				justify-self: end;
			}

			.middle {
				grid-area: middle;
			}

			.right {
				grid-area: right;
			}
		}

		.description {
			width: 100%;
			height: 36rem;

			.left {
				img {
					width: 30rem;
					height: 30rem;

					border-radius: 4rem;
				}
			}

			.middle {
				.top {
					display: flex;
					justify-content: flex-start;
					align-items: center;

					.title {
						margin-right: 2rem;

						font-size: 4.8rem;
						font-weight: 700;

						text-transform: uppercase;
					}

					fa-icon {

						&.spotify {
							color: $color_green_emerald;

							font-size: 4rem;
						}

						&.youtube {
							color: $color_red_flamingo;

							margin-left: 1rem;

							font-size: 4.8rem;
						}
					}
				}

				.release-date {
					font-size: 1.8rem;
					font-weight: 300;
				}

				.artists {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					align-content: flex-start;

					height: 20rem;

					.artist {
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;

						width: 40rem;

						margin: 2rem 0 0;

						img {
							width: 4.5rem;
							height: 4.5rem;

							border-radius: 100%;
						}

						span {
							margin-left: 2rem;

							font-size: 3.6rem;
							font-weight: 300;
						}
					}
				}
			}
		}

		.lyrics {
			font-size: 2.1rem;

			.left {
				cursor: pointer;

				.label,
				fa-icon {
					font-weight: 700;
				}
			}

			.middle {
				.lyrics {
					display: block;

					font-weight: 700;
					line-height: 150%;

					white-space: pre-wrap;

					transform: scaleY(1);

					transition: all 1s ease-in-out;
				}

				.spoiler {
					display: block;

					width: 50%;
					height: 1rem;

					margin-top: 1.2rem;

					border-top: 0.2rem dashed $color_gray_50;
				}
			}

			.right {
				justify-self: center;

				.copy {
					position: sticky;
					top: 3rem;

					padding: 0.5rem 1rem;

					border-radius: 2rem;

					cursor: pointer;

					span {
						position: absolute;
						right: 3rem;
					}
				}
			}
		}
	}
}
