<app-header></app-header>

<main *ngIf="music && primaryArtist && featuredArtists">
	<div class="description">
		<div class="left">
			<img [src]="music.coverImageUrl" alt="Cover Art">
		</div>
		<div class="middle">
			<div class="top">
				<span class="title">{{music.title}}</span>
				<a *ngIf="music.spotifyUrl" [href]="music.spotifyUrl" target="_blank">
					<fa-icon class="spotify" [icon]="faSpotify"></fa-icon>
				</a>
				<a *ngIf="music.spotifyUrl" [href]="music.youtubeUrl" target="_blank">
					<fa-icon class="youtube" [icon]="faYoutube"></fa-icon>
				</a>
			</div>
			<div class="release-date">{{music.releaseDate}}</div>
			<div class="artists">
				<a class="artist" *ngFor="let artist of featuredArtists.concat(primaryArtist)"
					[href]="'/artist/'+ artist.id">
					<img src="{{artist.imageUrl}}" alt="Artist profile picture">
					<span class="text">{{artist.name}}</span>
				</a>
			</div>
		</div>
	</div>
	<div class="lyrics shadow-narrow-reverse">
		<div class="left text-fade" (click)="toggleLyricsFoldingStatus($event)">
			<fa-icon [icon]="showLyrics? faCaretDown : faCaretRight"></fa-icon>
			<span class="label"> Lyrics</span>
		</div>
		<div class="middle text">
			<span *ngIf="!showLyrics" class="spoiler"></span>
			<p #lyricsParagraph *ngIf="showLyrics" class="lyrics hide">{{music.lyrics}}</p>
		</div>
		<div class="right">
			<span *ngIf="showLyrics" class="copy button-fade" (click)="copyLyrics($event)">Copy</span>
		</div>
	</div>
</main>

<app-footer></app-footer>
