<app-header></app-header>

<main *ngIf="music && primaryArtist && featuredArtists">
	<div class="description">
		<div class="left">
			<img [src]="music.coverImageUrl" alt="Cover Art">
		</div>
		<div class="right">
			<div class="top">
				<span class="title">{{music.title}}</span>
				<a *ngIf="music.spotifyUrl" [href]="music.spotifyUrl" target="_blank">
					<fa-icon class="spotify" [icon]="faSpotify"></fa-icon>
				</a>
				<a *ngIf="music.spotifyUrl" [href]="music.youtubeUrl" target="_blank">
					<fa-icon class="youtube" [icon]="faYoutube"></fa-icon>
				</a>
			</div>
			<div class="release-date">{{music.releaseDate}}</div>
			<div class="artists">
				<a class="artist" *ngFor="let artist of featuredArtists.concat(primaryArtist)"
					[href]="'/artist/'+ artist.id">
					<img src="{{artist.imageUrl}}" alt="Artist profile picture">
					<span class="text">{{artist.name}}</span>
				</a>
			</div>
		</div>
	</div>
	<div class="lyrics shadow-narrow-reverse">
		<div class="left"><span class="label text-fade">Lyrics</span></div>
		<div class="right">
			<p class="lyrics text-bright">{{music.lyrics}}</p>
		</div>
	</div>
</main>

<app-footer></app-footer>
