.search-box {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-content: center;

	padding: 1rem 2.5rem;

	border-radius: 3rem;
	font-size: 2.1rem;

	fa-icon:nth-child(1) {
		cursor: pointer;
	}

	input {
		width: 90%;
		height: 100%;

		margin: 0 2rem;

		border: none;

		font-size: 2.1rem;
	}
}
