/********** COLORS **********/

$color_magenta: #ff0080;
$color_pink: #fac0e1;
$color_blue_cornflower: #6495ed;
$color_blue_alice: #f0faff;
$color_blue_dodger: #e6eeff;
$color_blue_green: #00ffff;
$color_green_lime: #78fee0;
$color_green_caribbean: #3b9a9c;
$color_green_japanese_laurel: #34893a;
$color_yellow_cape_honey: #fef4a9;
$color_orange_supernova: #ffb726;
$color_orange_atomic_tangerine: #ffa563;
$color_red_flamingo: #e64e4e;
$color_white: #ffffff;
$color_gray_95: #f2f2f2;
$color_gray_90: #e6e6e6;
$color_gray_75: #bfbfbf;
$color_gray_60: #999999;
$color_gray_50: #808080;
$color_gray_30: #4d4d4d;
$color_gray_10: #1a1a1a;
$color_black: #000000;

/********** SHADES **********/
$shade_gray_90: transparentize($color_gray_10, 0.9)
