@import "./config";

/************ REMOTE FONTS ************/

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**************** FONTS ***************/

$font-roboto: "Roboto";
$font-default: sans-serif;
$font-all: $font-roboto,
$font-default;

/************* FONT FACES *************/

/**************** RESET ***************/

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

html {
	font-family: $font_all;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	// overflow: overlay;
}

a {
	text-decoration: none;
}

*::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: $color_gray_75;

	border: none;
	border-radius: 1rem;
}

/********** THEMES **********/
#app {
	color: $color_gray_10;

	input {
		color: $color_gray_10;
	}

	#snackbar {
		background-color: $color_gray_30;
		color: $color_gray_95;
	}

	.text {
		color: $color_gray_10;

		&-bright {
			color: $color_gray_50;
		}

		&-fade {
			color: $color_gray_75;
		}

		&-pure-opposite {
			color: $color_white;
		}

		&-primary {
			color: $color_blue_cornflower;
		}
	}

	.button {
		&-fade {
			background-color: $color_gray_75;
			color: $color_gray_95;
		}
	}

	.border {
		&-thin {
			border: 0.1rem solid $shade_gray_90;
		}
	}

	.shadow {
		&-gentle {
			box-shadow: 0 0 5rem 0.1rem $shade_gray_90;
		}

		&-narrow {
			box-shadow: 0 0.3rem 1rem 0.1rem $shade_gray_90;

			&-reverse {
				box-shadow: 0 -0.3rem 1rem 0.1rem $shade_gray_90;
			}
		}

		&-border {
			box-shadow: 0 0 1rem 0.1rem $shade_gray_70;
		}
	}

	.hover {
		&-text-fade:hover {
			color: $color_gray_10;
		}

		&-shadow:hover {
			box-shadow: 0 0 1rem $color_gray_10;
		}
	}

	.focus {
		&-shadow:focus {
			box-shadow: 0 0 1rem $color_gray_10;
		}
	}
}

#app.dark {
	background-color: $color_gray_10;
	color: $color_gray_95;

	.text {
		color: $color_gray_95;
	}
}
