:host {
	position: relative;

	.label {
		position: absolute;

		left: 4rem;
		top: 4rem;

		z-index: 3;

		font-size: 2.1rem;
	}

	.cards {
		position: relative;
		box-sizing: content-box;

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: baseline;

		padding: 8rem 10rem 3rem;

		overflow-x: scroll;
		overflow-y: hidden;
	}
}
