@import "../../../styles/config";

:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	margin: 0 auto;

	app-logo {
		margin: 0 auto 3rem;
	}
}
