:host {
	display: grid;
	grid-template-columns: 15rem auto;

	width: 100%;
	height: 10.5rem;

	margin: 0 auto;
	padding: 3rem;

	app-logo {
		justify-self: start;
	}

	app-search-box {
		justify-self: center;

		margin-left: -20rem;
	}
}
