footer {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 10rem;
	justify-content: center;

	max-width: 100rem;

	margin: 2rem auto 0;
	padding: 2rem;

	.title {
		font-size: 2.4rem;
		font-weight: 500;

		text-transform: uppercase;
	}

	.subtitle {
		margin-top: 1rem;

		font-size: 1.8rem;
		line-height: 150%;

		i,
		a {
			font-weight: 500;
		}

		ul {
			margin-bottom: 1rem;

			list-style: none;

			span {
				font-weight: 500;
			}

			li {
				text-indent: 2rem;
			}
		}
	}

	p {
		text-align: justify;
	}
}

@media all and (max-width: 1200px) {
	footer {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		row-gap: 5rem;

		max-width: 100%;

		padding: 2rem 6rem;

		ul.subtitle {
			display: grid;
			grid-template-columns: repeat(3, auto);
		}
	}
}

@media all and (max-width: 600px) {
	footer {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		row-gap: 5rem;

		max-width: 100%;

		padding: 2rem 6rem;

		ul.subtitle {
			grid-template-columns: unset;
			grid-template-rows: repeat(3, auto);
		}
	}
}
