<footer class="text-bright">
	<div class="about">
		<div class="title">About</div>
		<p class="subtitle">
			<i>BagherMusic</i> is a small easy-to-use website which allows users to search
			for their favorite artists and/or musics among our massive database powered by
			<a class="text-bright" href="https://www.elastic.co/home" target="_blank">Elastic</a>.
			Our goal is to keep <i>BagherMusic</i> as simple as possible, so anyone with any level of computer knowledge
			can easily use it.
			Keep in mind that all of the <i>Bagher</i>'s products are free and always will be.
		</p>
	</div>
	<div class="key-features">
		<div class="title">Key Features</div>
		<ul class="subtitle">
			<ul>
				<span>Search</span>
				<li>Artists</li>
				<li>Musics</li>
			</ul>
			<ul>
				<span>Music</span>
				<li>Lyrics</li>
				<li>Spotify Link</li>
				<li>Youtube Link</li>
			</ul>
			<ul>
				<span>Artist</span>
				<li>Musics</li>
				<li>Twitter Link</li>
				<li>Instagram Link</li>
			</ul>
		</ul>
	</div>
</footer>
