@import "../../../styles/config";

:host {
	width: 100%;

	margin: 0 auto;

	.scroll {
		background: $color_white;

		position: absolute;

		top: 4rem;
		bottom: 0;

		z-index: 2;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 10rem;
		height: 80%;

		font-size: 2.1rem;

		cursor: pointer;

		&.hide {
			display: none;
		}

		&-left {
			left: 0;
		}

		&-right {
			right: 0;
		}
	}

	.musics-wrapper {
		position: relative;

		.musics-title {
			position: absolute;

			left: 4rem;
			top: 4rem;

			z-index: 3;

			font-size: 2.1rem;
		}

		.scroll {
			height: 90%;
		}

		.musics-container {
			position: relative;

			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: baseline;

			height: 80rem;

			padding: 6rem 10rem 3rem;

			overflow-x: scroll;

			cursor: grab;

			&::-webkit-scrollbar {
				width: 0 !important;
			}
		}
	}
}
