@import "../../../styles/config";

.card {
	flex: 0 0 auto;

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 30rem;
	height: 30rem;

	margin: 2rem;

	div.overlay {
		background: $linear-gradient-100-50-100;

		display: none;

		&.active {
			color: $color_white;

			display: block;

			position: absolute;

			width: 100%;
			height: 100%;

			padding: 2rem;

			border-radius: 3rem;

			overflow: hidden;

			cursor: pointer;

			p {
				display: block;
				text-align: center;
			}

			.title {
				position: absolute;

				left: 0;
				top: 2rem;

				width: 100%;
				height: 40%;

				margin: 0 auto;

				font-size: 7ch;

				text-transform: uppercase;

				animation: enter-from-top 0.5s;
				transition: all 0.5s ease-in-out;
			}

			.description {
				position: absolute;

				left: 0;
				bottom: 2rem;

				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				width: 100%;

				margin: 0 auto;

				animation: enter-from-bottom 0.5s;
				transition: all 0.5s ease-in-out;

				.release-date {
					font-size: 1.4rem;
				}

				.artist {
					font-size: 6.5ch;
					font-weight: 300;
				}
			}

			@keyframes enter-from-top {
				0% {
					top: -10rem;
				}

				100% {
					top: 2rem;
				}
			}

			@keyframes enter-from-bottom {
				0% {
					bottom: -10rem;
				}

				100% {
					bottom: 2rem;
				}
			}
		}
	}

	img {
		width: 100%;
		height: 100%;

		border-radius: 3rem;
	}
}

@media all and (max-width: 1200px) {
	.card {
		width: 20rem;
		height: 20rem;

		margin: 2rem;

		div.overlay {
			&.active {
				padding: 1rem;

				border-radius: 2rem;

				.title {
					left: 0;
					top: 2rem;

					width: 100%;
					height: 40%;

					font-size: 4ch;
				}

				.description {
					left: 0;
					bottom: 2rem;

					width: 100%;

					.release-date {
						font-size: 1.2rem;
					}

					.artist {
						font-size: 4ch;
						font-weight: 300;
					}
				}
			}
		}

		img {
			border-radius: 2rem;
		}
	}
}

@media all and (max-width: 800px) {
	.card {
		width: 14rem;
		height: 14rem;

		margin: 1rem;

		div.overlay {
			&.active {
				padding: 0.5rem;

				border-radius: 1rem;

				.title {
					left: 0;
					top: 2rem;

					width: 100%;
					height: 40%;

					font-size: 3ch;
				}

				.description {
					left: 0;
					bottom: 2rem;

					width: 100%;

					.release-date {
						font-size: 1.0rem;
					}

					.artist {
						font-size: 3ch;
						font-weight: 300;
					}
				}
			}
		}

		img {
			border-radius: 1rem;
		}
	}
}
