<div class="wrapper">
	<header class="shadow-narrow">
		<a routerLink='/' class="logo"><img src="../../../assets/svg/Logo.svg" alt="bagher-music-logo"></a>
		<form #searchBox class="search-box border-thin focus-shadow" (submit)="searchListener($event)">
			<fa-icon class={{searchIconClass}} [icon]="faSearch" (click)="searchListener($event)"></fa-icon>
			<input #searchInput class="text-bright" type="text" (focus)="focusedOnInput($event)"
				(blur)="blurredInput($event)" required>
			<fa-icon class="text-primary" [icon]="faMusic"></fa-icon>
		</form>
	</header>

	<main *ngIf="artist && musics">
		<div class="description">
			<img [src]="artist.imageUrl" alt="Artist profile picture">
			<div class="name">{{artist.name}}</div>
			<div class="external-links">
				<a [href]="'https://twitter.com/'+artist.twitterName" target="_blank">
					<fa-icon class="twitter" [icon]="faTwitter"></fa-icon>
				</a>
				<a [href]="'https://instagram.com/'+artist.instagramName" target="_blank">
					<fa-icon class="instagram" [icon]="faInstagram"></fa-icon>
				</a>
			</div>
		</div>
		<div class="musics shadow-narrow-reverse">
			<div class="card" *ngFor="let music of musics" (mouseup)="clickedOnMusicCard($event, music.id)"
				(mouseenter)="mouseEnteredCard($event)" (mouseleave)="mouseLeftCard($event)">
				<div class="overlay">
					<p class="title">{{music.title}}</p>
					<div class="description">
						<p class="release-date">{{music.releaseDate}}</p>
						<p class="artist">{{music.primaryArtistName}}</p>
					</div>
				</div>
				<img src={{music.coverThumbnailUrl}} alt="Cover Art" ondragstart="return false;">
			</div>
		</div>
	</main>
</div>
