@import "../../../styles/config";

:host {
	main {
		.description {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			height: 36rem;

			padding: 3rem;

			img {
				width: 18rem;
				height: 18rem;

				border-radius: 100%;
			}

			.name {
				font-size: 3.6rem;
				font-weight: 700;

				text-transform: capitalize;
			}

			fa-icon {
				margin: 0 0.5rem;

				&.twitter {
					color: $color_blue_cornflower;

					font-size: 4rem;
				}

				&.instagram {
					color: $color_magenta;

					font-size: 4rem;
				}
			}
		}

		.musics {
			display: grid;
			grid-template-columns: auto auto auto;
			column-gap: 3rem;
			row-gap: 3rem;
			justify-content: center;

			margin: 0 auto;
			padding: 3rem;
		}
	}
}
