<app-header></app-header>

<main *ngIf="artist && musics">
	<div class="description">
		<img [src]="artist.imageUrl" alt="Artist profile picture">
		<div class="name">{{artist.name}}</div>
		<div class="external-links">
			<a *ngIf="artist.twitterName" [href]="'https://twitter.com/'+artist.twitterName" target="_blank">
				<fa-icon class="twitter" [icon]="faTwitter"></fa-icon>
			</a>
			<a *ngIf="artist.instagramName" [href]="'https://instagram.com/'+artist.instagramName" target="_blank">
				<fa-icon class="instagram" [icon]="faInstagram"></fa-icon>
			</a>
		</div>
	</div>
	<div class="musics shadow-narrow-reverse">
		<app-card-music *ngFor="let music of musics" [music]="music"></app-card-music>
	</div>
</main>
