.card {
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 30rem;
	height: 24rem;

	margin: 2rem;
	padding: 2rem;

	cursor: pointer;

	img {
		width: 12rem;
		height: 12rem;

		border-radius: 100%;
	}

	span {
		margin-top: 2rem;

		font-size: 1.8rem;
		font-weight: 500;

		text-align: center;
	}
}

@media all and (max-width: 1200px) {
	.card {
		width: 20rem;
		height: 16rem;

		margin: 2rem;
		padding: 2rem;

		img {
			width: 8rem;
			height: 8rem;
		}

		span {
			margin-top: 1rem;

			font-size: 1.6rem;
		}
	}
}
