@import "../../../styles/config";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	margin: 0 auto;

	.logo {
		cursor: pointer;

		margin: -15rem auto 3rem;

		img {
			height: 10rem;
		}
	}

	.search-box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		width: 80rem;
		height: 6rem;

		// margin-top: -7rem;
		padding: 1rem 4rem;

		border-radius: 3rem;

		input {
			width: 90%;
			height: 100%;

			padding: 2rem;

			border: none;

			font-size: 2.4rem;
		}
	}
}
